/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* CSS Variables */
:root {
    --navbar-height: 59px;
}

#logo img {
    height: 60px;
    width: 260px;
}



#navbar {
    display: flex;
}

#navbar {
    position: relative;
}


#navbar ul {
    display: flex;
}


#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    color: white;
    border-radius: 20px;

}


#navbar ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}



#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Home Section start */

#home{
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}


#home::before{
    content: "";
  background: url('../img/bg.png') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}